/* HUD START */
#hud {
  border-radius: 3em 0 0 3em;
  margin-right: 0 !important;
}

#hud .sensor {
  width: 30%;
  display: inline-block;
}

.hud-light {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  margin: .5rem auto;
  background: #363636;
}

.light-red.is-blinking {
  -webkit-animation: redLightBlinking .75s infinite;
  animation: .75s infinite redLightBlinking;
}

@keyframes redLightBlinking {
  0% { background-color: #363636; }
  50% { background-color: tomato; }
  100% { background-color: #363636; }
}

@-webkit-keyframes redLightBlinking {
  0% { background-color: #363636; }
  50% { background-color: tomato; }
  100% { background-color: #363636; }
}

.light-green.is-blinking {
  -webkit-animation: greenLightBlinking .75s infinite;
  animation: .75s infinite greenLightBlinking;
}

@keyframes greenLightBlinking {
  0% { background-color: #363636; }
  50% { background-color: #48c78e; }
  100% { background-color: #363636; }
}

@-webkit-keyframes greenLightBlinking {
  0% { background-color: #363636; }
  50% { background-color: #48c78e; }
  100% { background-color: #363636; }
}

.light-yellow.is-blinking {
  -webkit-animation: yellowLightBlinking .75s infinite;
  animation: .75s infinite yellowLightBlinking;
}

@keyframes yellowLightBlinking {
  0% { background-color: #363636; }
  50% { background-color: #ffe08a; }
  100% { background-color: #363636; }
}

@-webkit-keyframes yellowLightBlinking {
  0% { background-color: #363636; }
  50% { background-color: #ffe08a; }
  100% { background-color: #363636; }
}
/* HUD END */
