html.double-nav {
  padding-top: 160px;
}

body {
  font-family: monospace;
  background-color: black;
}

#setpoint label {
  margin: 0 .25rem;
  border-radius: 5px;
  padding: .25rem;
  background-color: #333;
}

#app {
  min-height: calc(100vh - 110px);
}

.menu-list li {
  padding-left: .75em;
}

.menu-list li a:hover {
  background-color: #161616;
}

.status > div {
  padding: .25rem;
}

.active {
  color: orange;
  -webkit-animation: solenoidValveActivationColorChange .9s infinite;
  animation: .9s infinite solenoidValveActivationColorChange;
}

#messages {
  position: absolute;
  bottom: 5em;
  left: calc(20% + 3em);
}

#messages.passive {
  display: none;
}

@keyframes solenoidValveActivationColorChange {
  0% { background-color: transparent; color: black; }
  50% { background-color: black; color: orange; }
  100% { background-color: transparent; color: black; }
}

@-webkit-keyframes solenoidValveActivationColorChange {
  0% { background-color: transparent; color: black; }
  50% { background-color: black; color: orange; }
  100% { background-color: transparent; color: black; }
}

/* Failures START */
#failures {
  min-height: calc(100vh - 32px);
}
